body {
  background-image: url("../images/IMG_0198.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  font-family: 'Philosopher', sans-serif;
  z-index: 10;

  &:before {
    content: '';
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  ul, li, p {
    margin: 0;
    padding: 0;
  }
}